#login-page form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

#login-page form .form-inner {
  background-color: rgb(17, 51, 80);
  padding: 30px;
  width: 18vw;
  z-index: 2;
}

#login-page form .form-inner h2 {
  color: cornsilk;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

#login-page form .form-inner .form-group {
  display: block;
  width: 30px;
  margin-bottom: 15px;
}

#login-page .form-inner .form-group label {
  display: block;
  color: cornsilk;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

#login-page .form-inner .form-group:focus-within label {
  color: goldenrod;
}

#login-page form .form-inner .form-group input {
  display: block;
  width: 12vw;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

#login-page form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#login-page form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  width: 30%;
  border-radius: 8px;
  background-color: #db7b43;
  font-weight: 700;
}

#login-page form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}
.error {
  color: #f8f8f8;
}
